@font-face {
  font-family: "regista";
  src: url("assets/fonts/regista/Regista.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: dark;
}
:root {
  --primary-clr: rgb(142, 156, 39);
  --calc-display-clr: rgb(147, 17, 17);
}
.container {
  display: flex;
  justify-content: center;
}
.calc-wrapper {
  width: 390px;
  height: 550px;
  padding: 12px;
  border: 6px solid var(--primary-clr);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.calc-icon {
  display: flex;
  justify-content: center;
  padding: 2px;
  font-size: 23px;
  font-weight: bolder;
  color: var(--primary-clr);
  font-family: "regista", Arial, sans-serif;
}
.calc-display {
  height: 65px;
  border-radius: 6px;
  font-family: "Calculator", Arial, sans-serif;
  color: var(--calc-display-clr);
  font-size: 50px;
  padding-right: 5px;
  /* * SWITCH CALCULATOR NUMBERS TO THE RIGHT */
  display: flex;
  flex-direction: row-reverse;
}
.calc-btn-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.calc-row {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.btn-number {
  background-color: rgb(82, 13, 82);
}
.btn-number:hover {
  background-color: rgba(128, 0, 128, 0.403);
}
.btn-operator {
  background-color: #913516;
}
.btn-operator:hover {
  background-color: #91351691;
}
.btn-clear,
.btn-all-clear {
  background-color: rgb(104, 13, 13);
}
.btn-all-clear:hover,
.btn-clear:hover {
  background-color: rgba(104, 13, 13, 0.649);
}
.btn-equals {
  background-color: #441111;
}
.btn-equals:hover {
  background-color: #441111ad;
}
.calc-row > * {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s background-color;
}
.calc-row > *:hover {
  cursor: pointer;
  transition-delay: 10ms;
}
.calc-footer {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
/* * DEBUGGING PURPOSES */
.calc-icon {
  border: 2px solid seagreen;
}
.calc-display {
  border: 2px solid chartreuse;
}
.calc-btn-wrapper {
  border: 2px solid darkred;
}
.calc-footer {
  border: 2px solid lightseagreen;
}
#reload {
  padding: 16px;
  margin: 0 auto;
}
