@font-face {
  font-family: "regista";
  src: url("assets/fonts/regista/Regista.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: dark;
}
:root {
  --primary-clr: rgb(142, 156, 39);
  --calc-display-clr: rgb(147, 17, 17);
}
.container {
  display: flex;
  justify-content: center;
}
.calc-wrapper {
  width: 420px;
  height: 550px;
  padding: 12px;
  border: 6px solid var(--primary-clr);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.calc-icon {
  display: flex;
  justify-content: center;
  padding: 2px;
  font-size: 23px;
  font-weight: bolder;
  color: var(--primary-clr);
  font-family: "regista", Arial, sans-serif;
}
.calc-display {
  height: 65px;
  border-radius: 6px;
  font-family: "Calculator", Arial, sans-serif;
  color: var(--calc-display-clr);
  font-size: 50px;
  /* * SWITCH CALCULATOR NUMBERS TO THE RIGHT */
  display: flex;
  flex-direction: row-reverse;
}
.calc-btn-wrapper {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.calc-row {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.calc-row > * {
  border-radius: 50%;
  background-color: purple;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* * DEBUGGING PURPOSES */
.calc-icon {
  border: 2px solid seagreen;
}
.calc-display {
  border: 2px solid chartreuse;
}
.calc-btn-wrapper {
  border: 2px solid darkred;
}
.calc-footer {
  border: 2px solid lightseagreen;
}
